.box1{
    background-image: url(coffeemug.jpg);
    color:rgb(26, 23, 23);
    font-weight: bold;
    font-size: xx-large;
    text-align: center;

}

.box2{
    width: 300px;
    height: 360 px;
    background-color: white;
    border: 3px solid rgb(199, 177, 219);box-shadow: 3px 3px 3px rgb(31, 127, 190);
    float: right;
    margin: 1.5% 5% 5% 1.5%;
    padding: 15px 12px; 
}

