body {background-image: url(animal.jpg);
text-align: center;
}
.btn1{
    text-decoration: none;
    border:3px solid rgb(216, 125, 6);
    padding:1% 2%;
    background-color: antiquewhite;
    border-radius: 10px;
}

.mdlwindow{
    opacity: 0;
    background-color: rgba(186, 196, 48, 0.5);
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    pointer-events: none;
}
.mdlwindow div{
    background-color: rgb(251, 251, 251);
    height: 400px;
    width:500px;
    margin: auto;
    border: 20px chocolate double;
    border-radius: 10px;
    padding:3%;
    text-align: center;
 }
 
 .mdlwindow:target{
     opacity: 1;
     pointer-events: all;
 }
 
 
 .subbox{
    width: 475px;
    height: 440px;
    border:20px double tan;
    border-radius: 10px;
    margin:40px 60px 40px 60px;
    text-align: center;
 

}
 
