body{
    background-color: rgb(83, 83, 207);
}
li{
    list-style-type: none;
}

.subbox{
    width:500px ;
    height:600px ;
    padding-top: 20px;
    padding-left: 20px;
    text-align: center;
    
}

.bttn{
    background-color: rgb(206, 230, 250);
    border: 2px black solid;
    border-radius: 5px;
    box-shadow: whitesmoke 5px 4px 3px;
}
