.menu{
    width: 30px;
    height: 35px;
    padding-top: .5px;
    border: black .5px solid;
    background-color: lightgray;
    position: relative; 
    cursor: pointer;
    float: right; 
    margin-top: 20px; 
    margin-right: 20px; 
}
  
  .line {
    width: 10px;
    height: 3px;
    background-color: #000;
    margin: 5px auto;
  }
  .hero{
    background-image: url(hero.png);
    width: 1575px;
    height: 800px;
  }
  .bk{
    border:2px solid rgb(31, 127, 190);
    box-shadow: 10px 12px 10px rgb(199, 177, 219);
    border-radius: 20px;
    float: right;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
  }
  .box{
    width: 1000px;
    height: 650px;
    margin-top: 20px;
    margin-left: 20px;
    border: yellow 4px solid;
    text-align: center;
  }

  .subbox1{
    border: blue 3px solid;
    border-radius: 10px;
    width: 400px;
    height: 500px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left:20px ;
  }

  .subbox2{
    border: red 3px solid ;
    border-radius: 10px;
    width: 400px;
    height: 500px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }
box2{
    width: 800px;
    height:600px;
    border: pink 3px solid;
  }
